<ion-menu (ionWillOpen)="obtenerUsuario()" side="start" type='overlay' [swipeGesture]="appMenuSwipeGesture" menuId="first" contentId="main-cont"
	(ionDidOpen)="appMenuSwipeGesture = false" (ionDidClose)="appMenuSwipeGesture = true">
	<ion-header class="ion-no-border">
		<ion-toolbar>
			<ion-buttons slot="start">
				<ion-button (click)="toggleMenu()">
					<ion-icon slot="icon-only" name='close'></ion-icon>
				</ion-button>
			</ion-buttons>
			<ion-buttons slot="end">
				<ion-button (click)="mostrarConfiguracion('modulos/configuracion')">
					<ion-icon name="settings-outline"></ion-icon>
				</ion-button>
			</ion-buttons>
		</ion-toolbar>
		<ion-img class="ion-margin-top" [src]="logo"></ion-img>
		<ion-text class="w-100" color="dark">
			<h4 class="ion-margin text-truncate">{{this.datosUsuario}}</h4>
		</ion-text>
	</ion-header>
	<ion-content>
		<ion-list mode="ios">
			<ion-item (click)="toggleMenu(); irPagina(men.path)" routerLink="{{men.path}}" routerLinkActive="router-link-active" lines="full" *ngFor="let men of menus;">
				<ion-icon slot="start" [name]="men.icon" color="dark"></ion-icon>
				<ion-label [ngClass]="size" color="dark">{{ men.title }}</ion-label>
				<ion-badge *ngIf="men.badge" color="primary">42</ion-badge>
			</ion-item>
		</ion-list>
	</ion-content>
	<ion-footer class="ion-no-border">
		<ion-toolbar (click)="toggleMenu(true); confirmarCerrarSesion();">
			<ion-buttons slot="start">
				<ion-button>
					<ion-icon slot="icon-only" name="power"></ion-icon>
				</ion-button>
			</ion-buttons>
			<ion-title class="ion-no-padding" [ngClass]="size">Cerrar sesión</ion-title>
		</ion-toolbar>
	</ion-footer>
</ion-menu>