.foto-perfil {
	display: flex;
	justify-content: center;
	ion-avatar {
		width: 200px;
		height: 200px;
		background-color: #b3b3b354;
	}
	ion-button {
		position: absolute;
		top: 170px;
		z-index: 3;
		width: 40px;
		font-size: 10px;
		height: 40px;
		--border-radius: 50% !important;
	}
}