ion-toolbar {
	color: var(--text-toolbar);
}
ion-header {
	padding: 3px;
	border-bottom: 1px solid var(--ion-border-color);
	background-color: var(--header-menu);
	ion-toolbar {
		height: 100%;
		ion-badge {
			position: absolute;
			top: 0;
			right: 0;
			font-size: 12px;
			--padding-end: 2px;
			--padding-start: 2px;
		}
		ion-button {
			--padding-end: 0px !important;
			--padding-start: 0px !important;
		}
	}
}
